<link href="style.css" rel="stylesheet" />

<div class="cloud"></div>
<div class="cloud"></div>
<div class="cloud"></div>

<div class="sun"></div>

<div class="stage">
	<div class="balloon">
		<div class="bottom"></div>
	</div>
	<ul class="ropes">
		<li></li>
		<li></li>
	</ul>
	<div class="basket">
		<div class="top">
			<div class="box">
				<div class="flame-wrapper">
					<div class="flame red"></div>
					<div class="flame orange"></div>
					<div class="flame gold"></div>
					<div class="flame white"></div>
				</div>
			</div>
		</div>
	</div>
</div>